# pyproject.toml

[build-system]
requires      = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "rank-llm"
version = "0.20.3"
description = "A Package for running prompt decoders like RankVicuna"
readme = "README.md"
authors = [
    { name = "Sahel Sharifymoghaddam", email = "sahel.sharifymoghaddam@uwaterloo.ca" },
    { name = "Ronak Pradeep", email = "rpradeep@uwaterloo.ca" },
    { name = "Jimmy Lin", email = "jimmylin@uwaterloo.ca" },
]
license = { file = "LICENSE" }
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
]
keywords = ["prompt-decoder", "RankVicuna", "RankZephyr", "RankLLM", "information retrieval", "neural ranking", "LLM", "listwise", "pointwise"]
dynamic = ["dependencies"]
requires-python = ">= 3.10"

[tool.setuptools.dynamic]
dependencies = {file = ["requirements.txt"]}

[project.optional-dependencies]
vllm = [
    "vllm>=0.4.0"
]
sglang = [
    "sglang[all]>=0.3.4"
]
tensorrt_llm = [
    "tensorrt_llm[all]>=0.14.0"
]

[project.urls]
Homepage = "https://github.com/castorini/rank_llm"

[tool.bumpver]
current_version = "0.20.3"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message = "Bump version {old_version} -> {new_version}"
commit = true
tag = true
push = false


[tool.bumpver.file_patterns]
"pyproject.toml" = [
    'current_version = "{version}"', 'version = "{version}"'
]
"README.md" = [
    "{version}",
]

[tool.setuptools.packages.find]
where = ["src"]
include = [
    "rank_llm",
    "rank_llm.analysis",
    "rank_llm.evaluation",
    "rank_llm.rerank.*",
    "rank_llm.retrieve",
]
namespaces = false
